<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bps.oktaupdate</string>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
        <string>-c</string>
		<string>osascript ~/Library/&apos;Application Scripts&apos;/com.bps.oktaupdate/oktaupdate.scpt</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
